@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Monoton&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Monoton&family=Playwrite+HR+Lijeva:wght@100..400&family=Sofadi+One&display=swap');

.portfolio-container {
  background-color: #1d1d1d;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.portfolio-container .portfolio-header {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 15px 60px;
}

.portfolio-container .portfolio-header .portfolio-title {
  font-family: "Monoton", sans-serif;
  font-size: 90px;
  font-weight: 300;
  letter-spacing: 2px;
}

.portfolio-container .portfolio-header .portfolio-subtitle {
  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.portfolio-container .portfolio-body {
  margin-top: 45px;
}

.portfolio-container .portfolio-body .portfolio-name {
  font-family: "Baskervville SC", serif;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 0;
}

.portfolio-container .portfolio-body .portfolio-description {
  font-family: "Playwrite HR Lijeva", cursive;
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 650px;
}

.portfolio-container .portfolio-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.portfolio-container .portfolio-info .portfolio-info-item {
  background-color: #333;
  padding: 15px 20px;
  border-radius: 5px;
  width: 200px;
  height: 150px;
}

.portfolio-container .portfolio-info .portfolio-info-item h4 {
  margin-bottom: 10px;
  font-weight: 800;
  border-bottom: 1px solid white;
}

.portfolio-container .portfolio-info .portfolio-info-item p {
  font-size: 15px;
  margin-bottom: 5px;
}



@media only screen and (max-width: 678px) {
  .portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
  }

  .portfolio-container .portfolio-header {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 10px 40px;
    margin-top: 60px;
  }

  .portfolio-container .portfolio-header .portfolio-title {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .portfolio-container .portfolio-header .portfolio-subtitle {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .portfolio-container .portfolio-body {
    margin-top: 25px;
  }

  .portfolio-container .portfolio-body .portfolio-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 0;
  }

  .portfolio-container .portfolio-body .portfolio-description {
    font-size: 12px;
    margin-bottom: 15px;
    max-width: 290px;
  }

  .portfolio-container .portfolio-info {
    flex-direction: column;
    gap: 10px;
  }

  .portfolio-container .portfolio-info .portfolio-info-item {
    padding: 15px 20px;
    width: 200px;
    height: 120px;
  }

  .portfolio-container .portfolio-info .portfolio-info-item h4 {
    margin-bottom: 7px;
    font-weight: 500;
  }

  .portfolio-container .portfolio-info .portfolio-info-item p {
    font-size: 12px;
    margin-bottom: 3px;
  }




}