@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Monoton&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Monoton&family=Sofadi+One&display=swap');

#Skill {
    width: 220px;
    background-color: #333;
    height: 50px;
    position: absolute;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    top: 0%;
    right: 0%;
    padding-bottom: 10px;
    transition: all ease 1s;
}

#Skill h3 {
    font-family: "Monoton", sans-serif;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}

#Skill p {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-size: 15px;
    font-weight: 500;
}

#Skill:hover {
    height: 140px;
    transition: all ease 1s;
    background-color: whitesmoke;
    color: black;
}

@media only screen and (max-width: 678px) {
    #Skill {
        width: 150px;
        height: 40px;
        border-radius: 0 0 10px 10px;
        top: 0%;
        right: 0%;
        padding-bottom: 10px;
    }

    #Skill h3 {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    #Skill p {
        font-size: 9px;
        font-weight: 800;
    }

    #Skill:hover {
        height: 105px;
    }
}