#Skill {
    width: 220px;
    background-color: #333;
    height: 50px;
    position: absolute;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    top: 0%;
    right: 5%;
    padding-bottom: 10px;
    transition: all ease 1s;
}

#Skill h3 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 800;
}

#Skill p {
    font-size: 18px;
    font-weight: 500;
}

#Skill:hover {
    height: 140px;
    transition: all ease 1s;
    background-color: whitesmoke;
    color: black;
}

@media only screen and (max-width: 678px) {
    #Skill {
        width: 150px;
        height: 40px;
        border-radius: 0 0 20px 20px;
        top: 0%;
        left: 5%;
        padding-bottom: 10px;
    }

    #Skill h3 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 700;
    }

    #Skill p {
        font-size: 15px;
        font-weight: 500;
    }
    #Skill:hover {
        height: 105px;
    }
  }